/* Imports */

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

/*MOCKUP*/
#mockup {
  background-image: url("../images/interface_3-Simple-Interface-03_low.png");
  width: 1222px;
  height: 673px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;

  opacity: 0.8;
}

/* Basic CSS */
,