/* Imports */

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

/* Basic CSS */
html {
  background-color: rgba(114, 109, 109, 0.096);
}
body {
  width: 1080px;
  height: 459px;
  margin: auto;
  background-color: #eeeeee;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.116);

  .img {
    flex: 1;
    width: inherit;
    height: inherit;

    img {
      width: 390px;
      margin: 40px 60px;
    }
  }

  .textWrap {
    flex: 1;

    .text {
      height: 115px;
      padding-left: 68px;

      h1 {
        font-family: "Righteous", cursive;
        color: #303030;
        font-size: 1.2rem;
        padding-bottom: 14px;
      }
      p {
        font-family: "Roboto", sans-serif;
        color: #434343;
        line-height: 1.6rem;
      }
    }
  }
}

.links {
  margin: 100px;
  text-align: center;

  a {
    text-decoration: none;
    background-color: #2e3238;
    color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.116);
    border-radius: 5px;
    margin: 0 20px;
    padding: 10px;
  }
  a:hover {
    color: rgb(255, 174, 0);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.288);
  }
}
